@{
    ViewBag.Title = "gqxqye";
    Layout = "~/Views/Shared/muban.cshtml";
}

<link href="~/Scripts/main.css" rel="stylesheet"  type="text/css"/>
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
 <div id="div_head">
        @*次级选项卡*@
        @Html.Partial("Partial1")
 </div>
<div>aaaaaaaaaa</div>
