.zx {
    height: 100%;
    width: 80%;
    margin: 0px auto;
    /*border: 2px outset  black;*/
}

.hot_new {
    height: 100%;
    width: 100%;
 
}

.hot_tittle {
    border-bottom: 2px outset red;
    height: 5%;
    width: 100%;
    line-height: 60px;
    font-size: 25px;
}

.hot_group {
    height: 40%;
    width: 100%;
  
}

    .hot_group dl {
        float: left;
        margin-left: 70px;
        height: 50%;
        width: 13%;
    }


    .hot_group dt {
        height: 75%;
        width: 100%;
    }

.zx img {
    height: 100%;
    width: 100%;
}


.hot_group dd {
    height: 25%;
    font-size: 15px;
    text-align: center;
    color: grey;
}

.all_hot_group, .all_hot_group_1 {
    height: 20%;
    width: 100%;
    float: left;

}

    .all_hot_group dl {
        float: left;
        margin-left: 70px;
        height: 100%;
        width: 13%;
    }

    .all_hot_group_1 dl {
        float: left;
        margin-left: 70px;
        height: 100%;
        width: 13%;
    }

    .all_hot_group dt {
        height: 75%;
        width: 100%;
    }

    .all_hot_group_1 dt {
        height: 75%;
        width: 100%;
    }

    .all_hot_group dd {
        height: 25%;
        font-size: 15px;
        text-align: center;
        color: grey;
    }

    .all_hot_group_1 dd {
        height: 25%;
        font-size: 15px;
        text-align: center;
        color: grey;
    }

a {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px auto;
}
